@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    @apply font-inter
  }

  .scale-animation{
    @apply duration-200 hover:scale-105
  }
}